.playerdiv{
    // padding: 1rem;
    margin: 1.5rem auto;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    width: 100%;    
}

.inputbar{
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 50%;
    padding: .5rem;

    
   
}

.rangediv2{

    width: 50%;
    margin: auto;

    h3{
        text-align: center;
    }

    input{
        width: 100% ;
        -webkit-appearance: none;
        background-color: #d3d3d3;
        cursor: pointer;
        border-radius: 1rem;
        background-size: 70%;
    }
    input::-webkit-slider-thumb {
        -webkit-appearance: none;
        appearance: none;
        width: 16px;
        height: 16px;
        border-radius: 50%; 
        background: #04AA6D;
        cursor: pointer;
      }

}


.rangediv{
    width: 70%;

    input{
        width: 100% ;
        -webkit-appearance: none;
        background-color: #d3d3d3;
        cursor: pointer;
        border-radius: 1rem;
        background-size: 70%;
    }
    input::-webkit-slider-thumb {
        -webkit-appearance: none;
        appearance: none;
        width: 16px;
        height: 16px;
        border-radius: 50%; 
        background: #04AA6D;
        cursor: pointer;
      }



}


.playercontrols{
    padding: .7rem;
    width: 30%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: .8rem 0;

    svg{
        cursor: pointer;
    }
}

input[type="range"]:focus{
   outline: none;
}

// input[type="range"]::-webkit-slider-thumb{
//     -webkit-appearance: none;
//     width: 16px;
//     height: 16px;
// }

.track{
    width: 100%;
    background-color: violet;
    height: 1.5rem;
    position: relative;
    border-radius: .8rem;
    overflow: hidden;
    cursor: pointer;
}


.animatetrack{
    background: rgb(204, 204, 204);
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    transform: translateX(0%);
    // pointer-events: none;
}

@media only screen and(max-width:540px){
    .playerdiv{
        width: 95%;
        margin: auto;
    }
}

